@model EcommP2.Models.Order

@using (Html.BeginForm())
{
    <section id="home" class="shopping-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="section-title">
                        <h2 class="heading bold">Address And Payment</h2>
                        <hr>
                    </div>
                </div>
                <div id="update-message">
                </div>
                <div class="transbox">
                    <div class="container">
                        <fieldset>
                            <legend>Shipping Information</legend>
                            <div id="shipping-form" class="col-md-8">
                                @Html.EditorForModel()
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Payment</legend>
                            <p>
                                We're running a promotion: all food is free
                                with the promo code: "FREE"
                            </p>
                            <div class="editor-label">
                                @Html.Label("Promo Code")
                            </div>
                            <div class="editor-field">
                                @Html.TextBox("PromoCode")
                            </div>
                        </fieldset>
                        <input type="submit" value="Submit Order" class="btn btn-default" id="submit-button"/>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
