@*  Authors & Student Number:
    Mayank Raval 200300508
    Fei Wang 200278460
    Mayank Bhardwaj 200305245
    Yiqi Zhang 200295414
    Siqian Yu 200286902
    Date Modified: 08-19-2016
    File Description: This is the view page when checkout is complete.
*@

@model int
@{
    ViewBag.Title = "Checkout Complete";
}

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="section-title">

                    <h2 class="heading bold">Checkout Complete</h2>
                    <hr>
                </div>
            </div>
            <div class="transbox">
                <div class="container">
                    <p>Thanks for your order! Your order number is: @Model</p>
                    <p>
                        How about shopping for some more food in our
                        @Html.ActionLink("menu", "Index", "Foods")
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
